<!DOCTYPE html>
{%extends "App_TP3/Base.html"%}
{%load static%}

{%block titulo%}
    Camisetas
{%endblock titulo%}

{% block main %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Camisetas</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">¡Publica la camiseta que quieras vender!</p>

                        <a class="btn btn-primary btn-xl" href="{% url 'buscar_camiseta' %}">Buscar</a>

                        
                    </div>
                </div>
            </div>
        </header>


<p> AGREGA UNA CAMISETA:</p>
<form action="" method="POST"> {% csrf_token %}
<table>
{{miCamiseta.as_table}}
<table>
<input type="submit" value="Enviar">
</form>

{% endblock main %}

